:root {
  --Primary-color: #000000;
  --secondary-color: #ffffff;
  --highlight-blue: #004bff;
  --highlight-green: #00ff91;
  --FF-font: 'Dec-bold';

  --pixel-10px: 0.625rem;
  --pixel-20px: 1.25rem;
  --pixel-30px: 1.875rem;
  --pixel-50px: 3.125rem;

  --FF-text: 'open Sans';
  --FF-btn: 'Dec-pro';
  scroll-behavior: smooth;

  --h1-: 50px;
  --h2-: 32px;
  --h4-: 15px;
  --p-: 16px;

  --col-3-grid: repeat(3, 1fr);
  --col-6-grid: repeat(6, 1fr);
  --col-8-grid: repeat(8, 1fr);
  --col-12-grid: repeat(12, 1fr);
}

/* GLOBAL ------------------------------------------------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Dec-bold';
  src: url(/TYSI/assets/Font/DecimaMonoPro-Bold.woff2);
}
@font-face {
  font-family: 'Dec-pro';
  src: url(/TYSI/assets/Font/DecimaMonoPro.woff2);
}

body {
  margin: 0;
  padding: 0;
}

.icon {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn {
  font-family: var(--FF-btn);
  padding: var(--pixel-10px) var(--pixel-20px);
  background-color: var(--Primary-color , #000);
  color: var(--secondary-color , #fff);
  /* border: none; */
  font-size: 1rem;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid var(--highlight-blue , #004bff);
  box-sizing: border-box;
  color: var(--highlight-blue , #004bff);
}

/* .content-container {
  margin: var(--pixel-50px) 0;
} */

/* NAV ------------------------------------------------------- */

#header-nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 2rem;
  box-sizing: border-box;
}

.fixed-nav {
  position: fixed !important;
  background-color: var(--Primary-color, #000);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--pixel-20px);
}

#logo-nav {
  width: 100px;
}

#links-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

#links-wrapper {
  margin: 0;
  padding: 0;
}

.nav-btn {
  display: inline-block;
  text-decoration: none;
  margin: 0 var(--pixel-10px);
}

.nav-btn a {
  text-decoration: none;
  color: var(--secondary-color , #fff);
  font-family: var(--FF-btn);
  position: relative;
}
.nav-btn a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--highlight-blue , #004bff);
  display: block;
  top: 100%;
}

#main-nav-toggle {
  display: none;
}

.fa-bars {
  font-size: 1.5rem;
  color: var(--highlight-green , #00ff91);
}

/* media-queries  --------------------------------*/

@media screen and (min-width: 810px) {
  #links-container {
    height: auto !important;
  }
}

@media screen and (max-width: 810px) {
  .nav-container {
    display: block;
  }

  /* media-queries  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

  #links-container {
    margin-top: 0;
    height: 0;
    overflow: hidden;
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-nav-toggle {
    display: inline-block;
  }

  .nav-btn {
    display: block;
    text-align: center;
    margin: 0;
  }

  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .nav-btn a {
    display: block;
    width: 100%;
    padding: var(--pixel-10px) 0;
  }

  /* .nav-hidden{
    height:0;
    overflow: hidden;
  } */
}

/* BANNER ------------------------------------------------------- */

.banner {
  height: 100vh;
  background-image: url(/TYSI/assets/IMG/DSC08877.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
}

.banner::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #0000005b;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 75ch;
}

/* media-queries*/

@media screen and (max-width: 428px) {
  .intro-container {
    width: auto;
    padding: 0 30px;
  }
}

h1 {
  font-family: var(--FF-font);
  color: #00ff91;
  font-size: var(--h1-);
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.intro-container p {
  color: var(--secondary-color , #fff);
  text-align: center;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin: var(--pixel-20px) 0;
}

/* sections ------------------------------------------------------- */

.row {
  /* height: 50vh; */
  background-color: var(--secondary-color , #fff);
  box-sizing: border-box;
  margin: 0;
  /* padding: 3.125rem; */
}

.row h2 {
  text-align: center;
  color: var(--Primary-color , #000);
  font-family: var(--FF-font);
  font-size: var(--h2-);
  text-transform: uppercase;
  margin: 0;
}

.highlight-color {
  color: var(--highlight-blue , #004bff);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

/* SERVICES ------------------------------------------------------- */

#services {
  text-align: center;
}

#services .container{
  padding: var(--pixel-50px) 0;
}

#service-icon-container {
  margin: var(--pixel-50px) 0;
}

.six-col-grid {
  grid-template-columns: var(--col-6-grid);
  gap: var(--pixel-20px);
  justify-items: center;
}

.services-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-icons {
  font-size: 4rem;
  color: var(--Primary-color , #000);
}

.s-icons:hover {
  color: var(--highlight-blue , #004bff);
}

.services-titles {
  font-weight: 600;
  color: var(--Primary-color , #000);
  font-size: var(--h4-);
  text-align: center;
  margin-top: var(--pixel-20px);
}

/* SERVICES MEDIA QUERIES---------------------------------- */

@media screen and (max-width: 1024px) {
  .six-col-grid {
    grid-template-columns: var(--col-3-grid);
    gap: var(--pixel-50px);
  }
}
@media screen and (max-width: 428px) {
  .six-col-grid {
    grid-template-columns: 1fr;
    gap: var(--pixel-50px);
  }
}

/* SHOWREEL ------------------------------------------------------- */

#showreel {
  background: url(/TYSI/assets/IMG/DSC08919.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

#showreel::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000bb;
  top: 0;
  left: 0;
  z-index: -1;
}

#showreel h2 {
  color: var(--secondary-color , #fff);
  z-index: 1;
}

#showreel-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--pixel-20px);
  justify-items: center;
}

.about-us p {
  /* color: var(--secondary-color); */
  line-height: 1.625rem;
  margin: var(--pixel-20px) 0;
}

.content {
  grid-template-columns: var(--col-6-grid);
  gap: var(--pixel-50px);
  margin: var(--pixel-50px) 0;
  z-index: 1;
}

#our-work {
  grid-column: 1/4;
}

#our-work video {
  width: 100%;
}

.about-us {
  grid-column: 4/7;
  color: var(--secondary-color , #fff);
}

/* SERVICES MEDIA QUERIES---------------------------------- */

@media screen and (max-width: 1024px) {
  #our-work {
    grid-column: 2/6;
  }
  .about-us {
    grid-column: 2/6;
  }
}

/* TEAMS ------------------------------------------------------- */

#team .container {
  position: relative;
  overflow: hidden;
}

.teams-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: var(--pixel-50px);
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(100% / 3);
}

.team-pic {
  filter: grayscale(100%);
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  box-shadow: 1px 1px 10px #00000075;
  /* object-fit: cover; */
}

.team-pic img {
  width: 100%;
  height: 100%;
}

.team-pic:hover {
  filter: none;
}

.team-description {
  text-align: center;
}

.name {
  font-family: 'Dec-pro';
  text-transform: uppercase;
  font-size: var(--h2-);
  margin: var(--pixel-20px) 0 5px 0;
}

.role {
  color: #969696;
  font-size: 14px;
  text-transform: uppercase;
}

.description {
  margin: var(--pixel-20px) 0;
  color: #474747;
  font-size: 15px;
}

.carousel-btn-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: none;
  justify-content: space-between;
}

.carousel-btn:hover {
  color: var(--highlight-blue , #004bff);
}

.carousel-btn-container i {
  font-size: 40px;
}

.deactivate {
  color: #c2c2c2;
  pointer-events: none;
}

#dotted-nav {
  display: none;
  justify-content: center;
  margin-top: var(--pixel-30px);
}

.dots {
  background-color: #c2c2c2;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.selected {
  border: 2px solid var(--highlight-blue , #004bff);
}

/* TEAM MEDIA QUERIES---------------------------------- */

@media screen and (max-width: 1024px) {
  #team .container {
    margin: 0 50px;
  }

  .team-pic {
    width: 200px;
  }

  .name {
    font-family: 'Dec-pro';
    text-transform: uppercase;
    font-size: var(--pixel-20px);
  }
}

@media screen and (max-width: 810px) {
  .teams-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .member {
    display: flex;
    min-width: calc(100% / 2);
    margin-top: var(--pixel-30px);
  }
}

@media screen and (max-width: 428px) {
  .teams-container {
    flex-wrap: nowrap;
    justify-content: start;
  }

  .carousel-btn-container {
    display: flex;
  }

  .member {
    min-width: 100%;
  }

  #dotted-nav {
    display: flex;
  }
}

/* Quotes ------------------------------------------------------- */

#quotes {
  height: 50vh;
  background: url(/TYSI/assets/IMG/DSC08965.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

#quotes::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000bb;
  top: 0;
  left: 0;
  z-index: -1;
}

#quote-text {
  margin-bottom: var(--pixel-30px);
  color: var(--secondary-color, #fff);
  font-size: 30px;
  font-family: var(--FF-font);
  text-transform: uppercase;
  text-align: center;
}

#booking-container .btn {
  margin: 0 var(--pixel-20px);
}

/* modal */

/* .modal {
  width: 100vw;
  height: 100vh;
  background-color: #000000f3;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

} */

/* CLIENTS ------------------------------------------------------- */

#companies {
  grid-template-columns: var(--col-6-grid);
  gap: 100px;
  align-self: center;
  align-content: center;
  align-items: center;
  margin-top: var(--pixel-50px);
}

.company-logos img {
  width: 100%;
  height: 100%;
  opacity: 50%;
  filter: grayscale();
}

.company-logos img:hover {
  opacity: 100%;
  filter: none;
}

/* CLIENTS QUERIES---------------------------------- */

@media screen and (max-width: 1024px) {
  #companies {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 50px;
    gap: 50px;
  }

  @media screen and (max-width: 428px) {
    #companies {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }
}

/* SCROLL UP BTN ------------------------------------------------------- */

#scroll-up {
  position: fixed;
  top: 100%;
}

/* contact us ------------------------------------------------------- */

#contacts {
  background: url(/TYSI/assets/IMG/G-01.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

#contacts::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000bb;
  top: 0;
  left: 0;
  z-index: -1;
}

#contacts h2 {
  color: var(--secondary-color , #fff);
}

#form-container {
  display: flex;
  justify-content: center;
  margin-top: var(--pixel-50px);
  padding: 0 var(--pixel-50px);
}

#form {
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.125rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color , #fff);
  text-transform: capitalize;
  flex-basis: 450px;
  border: 1px solid var(--highlight-blue , #004bff);
}

.input-fields {
  box-sizing: border-box;
  margin: var(--pixel-10px) 0 0 0;
  height: var(--pixel-30px);
  border: 0;
  border-radius: 0.125rem;
  width: 100%;
  padding: 0 1rem;
}

.form-group {
  margin: 0.625rem 0;
}

.form-group p {
  margin-bottom: var(--pixel-10px);
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.125rem;
  border: 0;
  padding: 1rem;
  height: 150px;
}

.form-txt{
  font-size: 12px;
}

.submit {
  border-radius: 0;
  border: none;
  padding: var(--pixel-20px);
  width: 100%;
  background-color: var(--highlight-blue , #004bff);
  color:var(--secondary-color , #fff);
  font-family: var(--FF-font);
  font-size: 1rem;
}

.submit:hover{
  background-color:#002886;
}

@media screen and (max-width: 428px) {
  #form {
    padding: var(--pixel-20px);
  }
}

/* footer ------------------------------------------------------- */

footer {
  background-color: var(--Primary-color , #000);
  display: grid;
  place-content: center;
  text-align: center;
  padding: 2.5rem;
}

h4,
.address {
  color: var(--secondary-color , #fff);
}

.address {
  margin: var(--pixel-20px) 0;
}

.fab {
  color: var(--secondary-color , #fff);
  font-size: 1.5rem;
}

.socials {
  margin: 0 var(--pixel-10px);
}
